#navbar
{
    width : 100%;
    height : 80px;
    border : 1px solid black;
    display : flex; 
    font-size : 25px;
}
#logo
{
    width : 100px;
    height : 80px;
    margin-left : 20px;
    background-image : url('../../public/Resource/photo.jpg');
    background-size : 100px;
}
#home
{
    margin-left : 850px;
    margin-top : 25px;
}
#about
{
    margin-left : 70px;
    margin-top : 25px;
}
#resource
{
    margin-left : 70px;
    margin-top : 25px;
}
#signup
{
    margin-left : 70px;
    margin-top : 25px;
}
.aboutus
{
    width : 100%;
    height : 750px;
    margin : auto;
    border : 1px solid black; 
    border-top : none;
    display : flex;
}
#aboutus
{
    width : 100%;
    height : 750px;
    margin : auto;
    border : 1px solid black; 
    display : flex;
    margin-top : 500px;
}
.text
{
    width : 70%;
    height: 100%;
    border : 1px solid black;
    border-radius : 50px;
    border-top : 0px;
    justify-content: center;
    line-height: 35px;
    font-size:18px ;
}

#heading
{
    font-size : 25px;
    color : brown;
}
.subheading
{
    color : brown;
    font-size : 20px;
}
.boyimage
{
    width : 30%;
    height : 100%;
    background-image : url('../../public/Resource/boy.png');
    background-size : cover;
}
.image
{
    width : 30%;
    height : 100%;
}