#container
{
    height : 810px;
    display : flex;
    border : 1px solid black;
    background-size : cover;
}
h1
{
    margin-top : 60px;
}
#Main
{
    width : 450px;
    height : 450px;
    border : 1px solid black;
    border-radius : 40px;
    margin : auto;
    margin-top : 150px;
    background-color : white;
    background-size : 500px;
    color : green;
}
#Name
{
    margin-top : 20px;
    padding : 10px 20px;
    border : 1px solid black;
    border-radius : 10px;
}
#Password
{
    margin-top : 30px;
    padding : 10px 20px;
    border : 1px solid black;
    border-radius : 10px;
}
#button
{
    padding : 8px;
    border : 1px solid black;
    margin-top : 30px;
    border-radius : 5px;
}