#main
{
    margin-top : 100px;
    margin-left :50px;
    width : 450px;
    height : 500px;
    border : 1px solid black;
    border-radius : 10px;
    background-color : rgb(167, 165, 163);
}
#name
{
    padding : 10px;
    border : 1px solid black;
    margin-top : 60px; 
    border-radius : 5px;
}
#user
{
    padding : 10px;
    border : 1px solid black;
    margin-top : 30px; 
    border-radius : 5px;    
}
#mail
{
    padding : 10px;
    border : 1px solid black;
    margin-top : 30px;
    border-radius : 5px;
}
#password
{
    padding : 10px;
    border : 1px solid black;
    margin-top : 30px;
    border-radius : 5px;
}
#number
{
    padding : 10px;
    border : 1px solid black;
    margin-top : 30px;
    border-radius : 5px;
}
#cont
{
    display : flex;
    border : 1px solid black;
}
#btn
{
    margin-top : 30px;
    padding : 7px;
    border : 1px solid black;
    border-radius : 5px;
}
#second
{
    width : 850px;
    height : 700px;
    border : 1px solid black;
    margin-top : 20px;
    margin-bottom : 20px;
    margin-left : 250px;
    border-top-left-radius: 450px;
    border-bottom-left-radius: 400px;

}
#plants
{
    width : 850px;
    height : 700px;
    border-top-left-radius: 450px;
    border-bottom-left-radius: 400px;

}
